@import url("./initialize.css");
@charset "utf-8";

.my-borrow-li{
	position: relative;
	background-color: #fff;
	padding: 0 30px;	
	margin-top: 20px;
}
.my-borrow-li:first-child{
	margin-top: 0;
}
.my-borrow-li div{
	pointer-events: none;
}
.my-borrow-li .content{
	width: 100%;
	background-color: rgba(0,0,0,0);
	z-index: -1;
}
.my-borrow-li .f-14{
	padding: 11px 0;
}
.my-borrow-li .f-15{
	padding: 24px 0;
}
.my-borrow-li .f-15 .fr{
	color: #66605C;
	display: inline-block;
	text-align: right;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.my-borrow-li.mark .content{
	background: url(../img/2.0/4.png) no-repeat top right;
	background-size: 160px 160px;
}
/*缺省*/
.default-msg .default-box p{
	margin-top: 60px;	
}
.default-msg .default-box .f-blue{
	display: inline-block;
	padding: 0 20px;
}
.default-msg .default-box .f-blue i{
	font-size: 0.966667rem;
}
