@import url("./initialize.css");
@charset "utf-8";
/*头部*/
header{
	background-color: #2E59FF;
	text-align: center;
	color: #fff;
	padding: 30px 0;
}
.my-header{
	margin-bottom: 20px;
}
.my-header span{
	display: inline-block;
	width: 130px;
	height: 130px;
	border-radius: 50%;	
	overflow: hidden;
}
.my-header span img{
	width: 100%;
}
.my-name{
	font-size: 1.06666rem;
}
.my-info{
	font-size: 0.93333rem;
	margin-top: 20px;
}
/*nav*/
nav{
	background-color: #fff;
	padding: 28px;
	text-align: center;
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	-webkit-flex-flow: row;
}
nav div{
	display: inline-block;
	flex: 1;
	-webkit-flex: 1;
	color: #A3A09D;
	font-size: 1rem;
}
nav div:first-child{
	border-right: thin solid #E6E6E6;
}
nav div p{
	font-size: 1.66667rem;
	color: #2E59FF;
}
nav div p small{
	font-size: 1.0666rem;
}
/*列表*/
.my-list{
	background-color: #fff;
	margin-top: 20px;
	border-top: thin solid #E6E6E6;
	border-bottom: thin solid #E6E6E6;
	padding-left: 20px;
}
.my-list li{
	padding: 24px 20px 24px 0;
	font-size: 1rem;
	border-bottom: thin solid #E6E6E6;
}
.my-list li:last-child{
	border-bottom:  0;
}
.my-list li i{
	pointer-events: none;
}
