@import url("./initialize.css");
@import url("./mui.indexedlist.css");
body,html{
	padding: 0;
	margin: 0;
}
ul{
	padding: 0;
}
select{
	height:inherit;
	padding: 0 0.1rem;
}
a{
	text-decoration: none;
}
.hidden{
	display:none;
}
.mui-content{
	background-color: #fff;
}
.guide-nav li a.bigbiger{
	color: #EA5948 !important;
    font-size: 0.5rem !important;
}
.searchCell,.searchCell-1{
	margin: 0;
}
#list,.seriesBox{
	-webkit-overflow-scrolling: touch;
}
.carList div.row p:nth-child(2){
	color:#939393;
	font-size:0.3467rem;
}
span.error1{
	display: none;
	padding: 0.28rem 0.4rem 0.28rem 0;
	color:#FF3F3F;
}
.content .row{
	display: inline-block;
	width: 100%;
}
.content .row li{
	float: left;
	width: 20%;
	cursor: pointer;
}
.content .row li img{
	display: block;
	text-align: center;
}
.content .row li a{
	display: block;
	padding-left: 0;
	line-height: 0.4rem;
	padding-top: 0.266667rem;
	width: 1.35rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0.5rem;
}
.content ul{
	margin: 0;
}
.content a,.content-1 a{
	color: #404040;
	padding-left: 0.4rem;
	font-size: 0.4rem;
}
.content img{
	width: 0.906667rem;
	height: 0.906667rem;
	vertical-align: middle;
	padding-left: 0.4rem;
}
.content h4{
	margin:0; 
	height: 0.8rem;
	background: #F1F4F8 !important;
	color: #66605C !important;
	padding-left: 0.44rem;
	font-size: 0.4em;
	line-height: 0.8rem;
}
.content ul li,.content-1 ul li{
	line-height: 1.173333rem;
	font-size: 0.4rem;
	color: #404040 !important;
	padding: 0.18rem 0;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}
li.list-group-item:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #EBEBEB;
}
.content ul li:last-child,
.content ul.row li{
	border: none;
}
.guide-nav{
	position: fixed;
	right: 0;
	top: 50%;
	margin-top: -6.2em;
	-webkit-transform: translateZ(0);
}
.fgrey{
	color: #C2C2C2;
}
.guide-nav li a{
	display: block;
	font-size: 0.35em;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #2E59FF !important;
	padding: 0.1em 0.8em !important;
	z-index: 12;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align:right;
}
.ellipsisList{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.scroll-content{
	overflow-y: auto;
}
/*动画tart*/
@keyframes fadeInRight {
	0%{opacity:0;right: -8.6667rem;}
	100%{opacity:1;right:0;}
}
.fadeInRight {
	animation-name:fadeInRight;
}
@keyframes fadeOutRight {
	0%{opacity:1;right: 0;}
	100%{opacity:0;right: -8.6667rem;}
}
.fadeOutRight {
	animation-name:fadeOutRight;
}
.seriesLayer{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #000;
	opacity: .4;
	z-index:12;
	cursor:pointer;
}
.animated{
    animation-duration: .6s; 
    animation-fill-mode: both; 
}
.brandBox,.seriesBox,.carModalBox{
	position: absolute;
	overflow-y:auto;
	right: 0;
	top: 0;
	height: 100%;
	background-color: #fff;
	box-shadow:0 0 3px 3px rgba(142,142,142,.2);
	z-index: 11;
	-webkit-overflow-scrolling : touch; 
}
.brandBox{
	width:100%;
}
.seriesBox{
	width:80%;
	z-index:300;
}
.carModalBox{
	width: 100%;
	z-index: 400;
}
.closeBtn{
	position: fixed;
	width: 100%;
	opacity: .7;
	bottom: 0.2rem;
	-webkit-transform: translateZ(0);
}
.None-con{
	border-bottom:1px solid #EBEBEB;
    cursor: pointer;
}
.None-con:after{
	content:none;
}
/*动画end*/

/*1.1*/

/*车系列表*/
.seriesBox .list-group li{
	padding: 0;
	height: 1.173333rem;
}
.seriesBox .list-group li a{
	font-size: 0.4rem;
}
