@import url("./initialize.css");
.iconfont:not(.alert){
	line-height: 1.5em;
}
.tost{
	bottom: 40%;
}
.header-prompt{
	position: relative;
	background-color: #FF9000;
	color: #fff;
	padding: 14px 30px;
}
.group{
	background: #FFFFFF;
}
.row{
	padding: 29px 0;
	margin: 0 29px;
}
.ml5{
	margin-left: 0.33333em;
}
.f-999{
	color: #999999;
}
.data-mile{
	width: 46%;
	border: none;
	text-align: right;
}
.data-carinfo{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis
}
::-webkit-input-placeholder
{
    text-align: right;
}
:-ms-input-placeholder
{
   text-align: right;
}
:-moz-placeholder
{
  text-align: right;
}
::-moz-placeholder
{
  text-align: right;
}
.eq{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}
.eq img{
	width: 100%;
}
.mb0{
	margin-bottom: 0!important;
}
/*picker start*/
.picker .picker-panel .picker-choose{
	height: 60px!important;
}
.picker-choose span{
	font-size: 1rem;
	color: #404040;
	line-height: 60px;
	height: 60px;
	padding: 0px 20px!important;
}
.picker .confirm{
	color: #ff9900;
}
.wheel ul li{
	font-size: 1rem;
}
.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll {
    margin-top: 166px !important;
    line-height: 36px !important;
}
@keyframes fadeInRight {
	0%{opacity:0;right: -8.6667rem;}
	100%{opacity:1;right:0;}
}
.fadeInRight {
	animation-name:fadeInRight;
}
@keyframes fadeOutRight {
	0%{opacity:1;right: 0;}
	100%{opacity:0;right: -8.6667rem;}
}
.fadeOutRight {
	animation-name:fadeOutRight;
}
.picker .picker-panel .picker-choose .picker-title{
	display: none;
}
