@import url("./initialize.css");
@charset "utf-8";
/*详情列表*/
.list-box{
	background-color: #fff;
	margin-top: 20px;
	padding: 0 30px;
}
.list-box:first-child{
	margin-top: 0;
}
.list-box .list-head{
	position: relative;
	padding: 24px 0 24px 20px;
	border-bottom: 1px solid #E6E6E6;
	font-weight: bold;
}
.list-box .list-head:before{
	position: absolute;
	top: 28px;
	left: -10px;
	content: '';
	width: 8px;
	height: 30px;
	border-radius: 8px;
	background-color: #2E59FF;
}
.list-box li{
	padding: 24px 0;
	border-bottom: 1px solid #E6E6E6;
}
.list-box li .fr {
    display: inline-block;
    text-align: right;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-box li:last-child{
	border-bottom: 0;
}
/*业务进展*/
.examines-progress{
	position: relative;
}
 .examines-progress:before{
	content: '';
	position: absolute;
	top: 130px;
	left: 36px;
	width: 2px;
	height: calc(100% - 170px);
	background-color: #2E59FF;
}
.examines-progress li{
	position: relative;
	padding: 24px 0 24px 46px;
	border-bottom: 0;
}
.examines-progress li .point{
	position: absolute;
	top: 35px;
	left: 0px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #2E59FF;
}
 