body {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body a {
	outline: none;
	blr: expression(this.onFocus=this.blur());
}
a {
	-webkit-tap-highlight-color: transparent;
}