@import url("./initialize.css");
body{
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}
.content{
	overflow-y: auto;
}
.group{
	background: #fff;
	padding: 30px;
	border-bottom: 1px solid #E6E6E6;
}
.data-additional,
.tab-list{
	height: 87px;
}
.data-additional,
.tab-list,
.instalPlan{
	background: #fff;
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-1{
	flex: 1;
	text-align: center;
}
.flex-2{
	flex: 2;
	text-align: center;
}
.flex-3{
	flex: 3;
	text-align: center;
}
.iconfont{
	color: #B7BAC7;
}
.tab-list{
	padding: 0 30px;
}
.tab-list li{
	padding: 24px 0;
	position: relative;
}
.tab-list li.active{
	color: #2E59FF;
}
.tab-list li.active:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 43px;
	height: 4px;
	background: #2E59FF;
	width: 140px;
}
.data-money{
	width: 53%;
	color: #FF5322!important;
    margin: 60px 30px 0;
    border: none;
    padding-bottom: 10px;
	text-align: center;
}
.instalPlan .left{
	flex: 9;
	padding: 30px;
	padding-right: 0;
	background: #F1F4F8;
	margin-right: 30px;
}
.instalPlan .iconfont{
	font-size: 1.5em;
}
.tab-content{
	overflow-y: auto;
	/*margin-bottom: 168px;*/
}
.tab-content .tab{
	display: none;
}
.btn{
	width: 100%;
	margin: auto;
	/*position: fixed;
	bottom: 0;
	z-index: 1;*/
}
.btnBox{
	background: #FFFFFF;
	padding: 30px;
}
.active{
	display: block!important;
}
/*个人信息*/
.personalInfor{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	z-index: 30000;
}
.inforBox{
	background: #FFFFFF;
	padding: 30px;
}
.inforBox input{
	width: calc(100% - 60px);
	height: 80px;
	padding: 0 30px;
	font-size: 1em;
	border: 2px solid #CCCCCC;
	border-radius: 6px;
}
.inforBox input.data-phoneNum{
	width: calc(54.5% - 60px);
}
.inforBox .btn{
	position: inherit;
	width: 42.5%;
	display: inline-block;
	margin: 0;
	height: 83px;
	line-height: 83px;
	float: right;
}
