
/*图片列表*/
label + .imglist {
	display: inline-block;
}
.lab110 label + .imglist {
	width: calc(100% - 150px);
}
.lab150 label + .imglist {
    margin-left: -4px;
	width: calc(100% - 190px);
}
.imglist label {
	width: 100%;
    float: left;color: #787878;
    line-height: 28px;
}
.imglist_lab {
	width: 126px;
	float: left;
}
.imglist_dropdown {
	width: 200px;
	float: left;
}
.imglist_dropdown .imgbox {
	margin-top:5px;
}
.imglist_dropdown.disable a.del {
	display: none;
}

.imglist {
	overflow: auto;
	margin-bottom: -10px;
}
.imglist .imgbox,
.imglist .addimg {
	border-radius: 3px;
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
	background-color: #F5F5F5;
	overflow: hidden;
	margin-bottom: 12px;
}
.imglist .imgbox {
	margin-right: 16px;
	line-height: 100px;
}
/*.imglist .imgbox:hover:after {
	content: "";
	background: url("../images/icon.png") no-repeat -144px -119px;
	position: absolute;
	width: 27px;
	height: 27px;
	left: 50%;
	top: 50%;
	margin-left: -13px;
	margin-top: -13px;
}*/
.imglist .imgbox img {
	max-width: 100px;
	max-height: 100px;
}
.imglist .addimg {
	font-size: 12px;
	color: #cacbcb;
}
.imglist .addimg:hover {
	color: #787878;
}
.imglist .addimg .upload {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0
}
.imglist .imgbox i {
	font-size: 20px;
	height: 23px;
	width: 24px;
	right: 0;
	top: 0;
	background: #000;
	color: #fff;
	line-height: 23px;
	position: absolute;
	opacity: .5
}
.imglist .imgbox .del i {
	display: none;
}
.imglist .imgbox:hover .del i {
	display: block;
}
.imglist .addimg i {
	margin: 24px auto 10px;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	display: block;
	background: url("../images/icon.png") no-repeat -33px -177px;
}
.imglist .addimg:hover i {
	background: url("../images/icon.png") no-repeat -79px -177px;
}
.imglist .imglink {
	display: block;
	width: 100px;
	height: 100px;
}

.viewPictureModel .modal-dialog {
	height:100%;
	width:100%;
	margin: 0 auto;
}
.viewPictureModel .modal-content {
	height:100%;
	width:100%;
	background:none;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	box-shadow:none;
	-webkit-box-shadow:none;
	border:none;
	
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

.viewPictureModel .layer {
	height:100%;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}

.viewPictureModel:not(.detail) .item img {
	max-width: 1050px;
	max-height: 1050px;
}
.viewPictureModel.detail .item img {
	width: 100%;
	height: 100%;
}

.previewGroup img.preview {
	cursor:pointer;
}
.previewGroup img.preview {
	cursor:pointer;
}
.imglist_dropdown .input-group {
	width: 180px;
	min-width: 180px;
}
.imglist_dropdown label {
	height: 33px;
}
.imglist_dropdown {
	margin-bottom: 10px;
	overflow: visible;
}
.imgbox.uploading {
	position: relative;
}
.imgbox.uploading:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
    display: block;
    content: "";
    background: url(../images/upload.gif) no-repeat center;
    background-color: #fff;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: .7;
}

.viewPictureModel .previewBtns {
    text-align: center;
    font-size: 26px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -135px;
}
.viewPictureModel .previewBtns li {
    margin: 0 20px;
    width: 50px;
    display: inline-block;
}
.viewPictureModel .previewBtns div {
    height: 50px;
    width: 50px;
    color: #3CA0F1;
    border: 1px #B2B2B2 solid;
    border-radius: 100%;
    background-color: #FFFFFF;
    cursor: pointer;
    opacity: .7;
}
.viewPictureModel .previewBtns div:hover {
    opacity: 1;
}
.viewPictureModel .previewBtns i {
    padding-top: 11px;
}
.viewPictureModel .previewBtns div.disable {
    color: #C1C1C1;
    cursor: not-allowed;
}
.carousel.ro1,
.carousel.ro2,
.carousel.ro3 {
	-webkit-transform-origin: center center;
	transform-origin: center center
}
.carousel.ro1 {
	transform: rotate(90deg);
}
.carousel.ro2 {
	transform: rotate(180deg);
}
.carousel.ro3 {
	transform: rotate(270deg);
}
.videobox .imglink {
	position: relative;
}
.videobox .imglink:before {
    font-family: 'Glyphicons Halflings';
	content: "\e029";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 36px;
	color: rgba(255,255,255,0.88);
}
.imglist.imgWithTxt  {
	min-height: 130px;
}
.imgWithTxt p {
	font-size: 12px;
	line-height: 15px;
	height: 25px;
	padding-top: 8px;
	width: 100px;
	overflow: hidden;
}
.imgWithTxt .imgbox, .imgWithTxt .addimg {
	overflow: visible;
    margin-bottom: 32px;
}
